:root {
  --blue-color: rgb(66, 116, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.appContainer {
  width: 90vw;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.navbar input {
  padding: 10px;
  border: 1px solid black;
  outline-color: var(--blue-color);
  width: 400px;
  max-width: 60%;
}

a {
  background-color: var(--blue-color);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  text-wrap: nowrap;
}

.bookContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  font-size: 14px;
  margin-top: 50px;
}

.bookCard {
  border: 1px solid var(--blue-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  background-color: var(--blue-color);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  text-wrap: nowrap;
  border: none;
  cursor: pointer;
}

.loading {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 800px) {
  .appContainer {
    width: 80vw;
    margin: auto;
  }
}

@media (max-width: 700px) {
  a {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 1154px) {
  .bookContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 890px) {
  .bookContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .bookContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
